body{
    background: deepskyblue;
}



header{
  background-color: blue;
  font-size: 70px;
  border: solid;
  text-align: center;
}
 header a{
   font-family: fantasy;
   text-decoration: none;
   color: black;
   
 }





button{
 
  display: inline-block;
  padding: 10px;
  margin: 30px;
  border-radius: 40px;
  color: black;
  background: green;
  font-size: 30px;
  
  
}
p{
  display: none;
  font-size: 35px;
  text-align: center;
  background: seagreen;
  
  
}

h1{
  text-align: center;
  font-size: 45px;
}

footer{
  font-size: 45px;
  text-align: center;
  color: red;
  
}
footer img{
  border-radius: 40%;
}